{% extends 'base.html' %}
{% block content %}
<main class="cart" id="cart">
    <div class="container">
        <!-- {% if products|length > 0 %} -->
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th class="cart-image"></th>
                        <th class="cart-product">Продукт</th>
                        <th class="cart-price">Цена</th>
                        <th class="cart-discount">Скидочная цена</th>
                        <th class="cart-full-price">Цена со скидкой</th>
                        <th class="cart-quantity">Количество товаров</th>
                        <th class="cart-produc-code">Код товара</th>
                        <th class="cart-close"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product, quantity in products %}
                    <tr class="item" data-product-id="{{product.id}}">
                        <th class="cart-image"><img src="{{product.img.url}}" alt=""></th>
                        <th class="cart-product">{{product.fields.title}}</th>
                        <th class="cart-price">{{product.price}} ₴</th>
                        <th class="cart-discount">
                            {% if product.discount_price %}
                                {{product.discount_price}} ₴
                            {% else %}
                                0 ₴
                            {% endif %}
                        </th>
                        <th class="cart-discount">
                            {% if product.discount_price %}
                                {{product.discount_price}} ₴
                            {% else %}
                                {{product.price}} ₴
                            {% endif %}
                        </th>
                        <th class="cart-quantity">
                            <select name="quantity" id="quantity" onchange="updateProductQuantity(this, '{{product.id}}')">
                                <option value="1" {% if quantity == 1 %}selected{% endif %}>1</option>
                                <option value="2" {% if quantity == 2 %}selected{% endif %}>2</option>
                                <option value="3" {% if quantity == 3 %}selected{% endif %}>3</option>
                                <option value="4" {% if quantity == 4 %}selected{% endif %}>4</option>
                                <option value="5" {% if quantity == 5 %}selected{% endif %}>5</option>
                                <option value="6" {% if quantity == 6 %}selected{% endif %}>6</option>
                                <option value="7" {% if quantity == 7 %}selected{% endif %}>7</option>
                                <option value="8" {% if quantity == 8 %}selected{% endif %}>8</option>
                                <option value="9" {% if quantity == 9 %}selected{% endif %}>9</option>
                                <option value="10" {% if quantity == 10 %}selected{% endif %}>10</option>
                            </select>
                        </th>
                        <th class="cart-produc-code">{{product.id}}</th>
                        <th class="cart-close">
                            <button class="delete-button" id="delete-button" onclick="deleteProductFromCart('{{product.id}}')">
                                <span class="material-icons">
                                    close
                                </span>
                            </button>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="make-order">
            <form class="form" id="make-order" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-info">
                    <div class="left-form">
                        <div class="form__group">
                            <label for="order-name">Имя</label>
                            {{ form.name }}
                        </div>
                        <div class="form__group">
                            <label for="order-name">Фамилия</label>
                            {{ form.surname }}
                        </div>
                        <div class="form__group">
                            <label for="order-name">Номер Телефона</label>
                            {{ form.phone_number }}
                        </div>
                        <div class="form__group">
                            <label for="order-name">Почта</label>
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="line"></div>

                    <div class="right-form">
                        <div class="form__group">
                            <label for="order-name">Город</label>
                            {{ form.city }}
                        </div>
                        <div class="form__group">
                            <label for="order-name">Улица</label>
                            {{ form.street }}
                        </div>
                        <div class="form__group" id="email">
                            <label for="order-name">Дом</label>
                            {{ form.house_number }}
                        </div>
                        <div class="form__group" id="phone">
                            <label for="order-name">Отделение Новой почты</label>
                            {{ form.post_office }}
                        </div>
                    </div>
                </div>
                
                <div class="form__action">
                    <button class="make-order-button" id="make-order-button" type="submit">Заказать</button>
                </div>
            </form>
        </div>
        <!-- {% else %} -->
        <div class="info-message">
            Корзина пуста, выберите товар и добавьте к корзину
        </div>
        <!-- {% endif %} -->
        <div id="layout__boxFooter" class="layout__boxFooter">
        </div>
    </div>
</main>
{% endblock %}