{% extends 'base.html' %}
{% block content %}

<main class="product_container" id="product_container">
    <div class="container">
        <div class="product-info" data-product-id="{{product.id}}">
            <div class="product-preview">
                <img src="{{ product.img.url }}" alt="{{ product.title }}">
            </div>
            <div class="product-detail">
                <div class="product-title">
                    {{ product.title }}
                </div>
                <div class="product-price">
                    {% if not product.discount_price %}
                    <div class="price">
                        {{ product.price }} ₴
                    </div>
                    {% else %}
                    <div class="price old">
                        {{ product.price }} ₴
                    </div>
                    <div class="price discount">
                        {{ product.discount_price }} ₴
                    </div>
                    {% endif %}
                </div>
                <div class="quantity-detail">
                    {% if product.quantity <= 0 %}
                        Нет в наличии
                    {% elif product.quantity == 1 %}
                        Последний на складе
                    {% else %}
                        Есть на складе
                    {% endif %}
                </div>
                <div class="product-description">
                    {{ product.description }}
                </div>
                
                <div class="product-actions">
                    <button class="product-actions-item to-cart-botton" id="add-to-cart-button">Добавить в корзину</button>
                    <button class="product-actions-item " id="to-cart-botton">В избранное</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}