{% extends 'base.html' %}
{% block content %}
<main class="products" id="products">
    <div class="container">
        <div class="control-panel">
            <ul class="control-panel-category" id="control-panel-category">
                <li class="filter-panel-item">
                    <div class="filter-panel-item-name">
                        Категория 
                        <span class="material-icons cursor">
                            expand_more
                        </span>
                    </div>
                    <ul class="filter-panel-item-content" id="type-filter">
                        <li class="filter-panel-item-content-selector"><a href="/home/all/">Все</a></li>
                        {% for type in types_of_products %}
                        <li class="filter-panel-item-content-selector"><a href="/home/{{type.alternative_name}}/">{{type.title}} ({{type.number_of_answers}})</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="filter-panel-item">
                    <div class="filter-panel-item-name">
                        Цена
                        <span class="material-icons cursor">
                            expand_more
                        </span>
                    </div>
                    <ul class="filter-panel-item-content" id="price-filter">
                        <li class="filter-panel-item-content-selector" data-test="price" data-test-item="all"><a href="/">Нет</a></li>
                        <li class="filter-panel-item-content-selector" data-test="price" data-test-item="0-500"><a href="/">От 0 - До 500</a></li>
                        <li class="filter-panel-item-content-selector" data-test="price" data-test-item="500-1000"><a href="/">От 500 - До 1000</a></li>
                        <li class="filter-panel-item-content-selector" data-test="price" data-test-item="1000-3000"><a href="/">От 1000 - До 3000</a></li>
                    </ul>
                </li>
                <li class="filter-panel-item">
                    <div class="filter-panel-item-name">
                        Бренд
                        <span class="material-icons cursor">
                            expand_more
                        </span>
                    </div>
                    <ul class="filter-panel-item-content" id="brand-filter">
                        <li class="filter-panel-item-content-selector" data-test="brand" data-test-item="all"><a href="/">Нет</a></li>
                        {% for brand in products_brand %}
                            <li class="filter-panel-item-content-selector" data-test="brand" data-test-item="{{brand.alternative_name}}"><a href="/">{{brand.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <div class="filter-panel-item" id="sorting-field">
                <div class="filter-panel-item-name">
                    Сортировка 
                    <span class="material-icons cursor">
                        expand_more
                    </span>
                </div>
                <ul class="filter-panel-item-content" id="ordering-filter">
                    <li class="filter-panel-item-content-selector" data-test="price-order" data-test-item="all"><a href="/">Нет</a></li>
                    <li class="filter-panel-item-content-selector" data-test="price-order" data-test-item="up"><a href="/">Цена: от меньшей к большей</a></li>
                    <li class="filter-panel-item-content-selector" data-test="price-order" data-test-item="down"><a href="/">Цена: от большей к меньшей</a></li>
                </ul>
            </div>
        </div>
        
        <div class="list-products" id="list-products">
            <div class="list-products-row">
                {% for product in page_obj %}
                <div class="list-products-item">
                    <a class="list-products-img" href="{% url 'product' product.id %}">
                        <img src="{{ product.img.url }}"/>
                        {% if product.quantity > 0%}
                            <div class="img-overlay"></div>
                            {% if product.discount_price > 0 %}
                            <div class="overlay-discount">Скидка</div>
                            {% endif %}
                        {% else %}
                            <div class="img-overlay active"></div>
                            <div class="overlay-text">SOLD OUT</div>
                        {% endif %}
                    </a>
                    <div class="list-products-caption">
                        <div class="list-products-title">
                            <a href="/product/{{product.id}}/">{{ product.title }}</a>
                        </div>
                        <div class="product-price">
                            {% if not product.discount_price %}
                            <div class="price">
                                {{ product.price }} ₴
                            </div>
                            {% else %}
                            <div class="price old">
                                {{ product.price }} ₴
                            </div>
                            <div class="price discount">
                                {{ product.discount_price }} ₴
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="list-products-row">
                {% endif %}
                {% endfor %}
            </div>
        </div>

        {% if page_obj.has_other_pages %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="pagination-item previous">
                <a href="?page={{ page_obj.previous_page_number }}">
                    <span class="material-icons">
                        chevron_left
                    </span>
                </a>
            </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="pagination-item active">
                {{ i }}
            </li>
            {% else %}
            <li class="pagination-item">
                <a href="?page={{ i }}">
                    {{ i }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="pagination-item next">
                <a href="?page={{ page_obj.next_page_number }}">
                    <span class="material-icons">
                        chevron_right
                    </span></a>
                </a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</main>
{% endblock %}